@import url(http://fonts.googleapis.com/css?family=Arvo:400,700);
.heading{font-size:14px;font-family:'Arvo',serif;font-weight:400;text-transform:uppercase;color:#54ad13;}
body{margin:0;padding:0;background-color:#fff;font-family:Verdana;font-size:12px;background-color:#ededed;}
h2,h3{font-family:'Arvo',serif;font-size:20px;line-height:1px;font-weight:400;text-transform:uppercase;margin-bottom:25px;}
#log{}
#top{width:100%;margin:0 auto;height:400px;position:relative;}
.top-txt{}
.top-logo{position:absolute;width:960px;height:58px;background:url(../img/statskog_logo.png) no-repeat;left:50%;margin-left:-480px;margin-top:20px;}
#top .top-txt h1{font-family:'Arvo',serif;font-weight:400;font-size:45px;margin-bottom:5px;}
#top .top-txt{font-family:"Verdana";font-size:14px;text-align:center;color:#000;z-index:2;width:600px;margin-top:80px;margin-right:auto;position:absolute;}
#top .top-foto-txt{position:absolute;bottom:0;right:5px;margin-left:-480px;height:20px;width:auto;z-index:300;text-align:right;font-size:10px;}
.grey{color:#ccc;}
.black{color:#111;}
#top .top-bg{background:url(../img/top_bg.jpg) 50% 0 no-repeat;height:400px;min-width:1024px;border-bottom:1px solid #000;}
#wrapper{position:relative;width:960px;padding-top:40px;height:auto !important;height:100%;min-height:100%;margin:0 auto;}
#content-container{z-index:40;margin-top:40px;background-color:#ededed;}
a.front{font-family:'Arvo',serif;font-weight:400;font-size:14px;color:#000;text-decoration:none;}
a.front:hover{color:#333;}
a.front:hover:before{content:" ";position:absolute;background:url(../img/icons.png) 0 -31px no-repeat;width:8px;height:12px;margin-top:3px;margin-left:-12px;}
ul.main-menu{margin:0;padding:0;list-style:none;font-family:'Arvo',serif;font-weight:400;font-size:14px;}
ul.main-menu li{float:left;padding:10px;width:138px;border-right:1px solid #000;text-align:center;z-index:100;}
ul.main-menu li:last-child{border-right:0;}
ul.main-menu li div.sub-menu{display:block;opacity:0;position:absolute;text-align:left;min-width:149px;z-index:30;}
ul.main-menu li div.sub-menu .sub{margin-bottom:10px;margin-top:10px;margin-left:-10px;padding:10px;background-color:#fefefe;-webkit-box-shadow:0 2px 3px rgba(0, 0, 0, 0.3);-moz-box-shadow:0 2px 3px rgba(0, 0, 0, 0.3);box-shadow:0 2px 3px rgba(0, 0, 0, 0.3);}
ul.main-menu li div.sub-menu .sub div{padding:10px;}
ul.main-menu li div.sub-menu div a:hover{color:#333;}
ul.main-menu li div.sub-menu div a:hover:before{content:" ";position:absolute;background:url(../img/icons.png) 0 -31px no-repeat;width:8px;height:12px;margin-top:3px;margin-left:-12px;}
ul.main-menu li a{position:relative;text-decoration:none;color:#222;}
ul.main-menu li:hover{background-color:#fefefe;-webkit-box-shadow:0 2px 3px rgba(0, 0, 0, 0.3);-moz-box-shadow:0 2px 3px rgba(0, 0, 0, 0.3);box-shadow:0 2px 3px rgba(0, 0, 0, 0.3);}
li.list{color:#004c6b;margin-left:14px;margin-bottom:3px;}
li.list span{color:black;}
.content-box{width:630px;margin-right:10px;margin-bottom:10px;background-color:#ffffff;height:auto;min-height:100px;-webkit-border-radius:10px;-moz-border-radius:10px;-ms-border-radius:10px;-o-border-radius:10px;border-radius:10px;-webkit-box-shadow:0px 0px 5px 0px rgba(0, 0, 0, 0.3);box-shadow:0px 0px 5px 0px rgba(0, 0, 0, 0.3);}
.content-box-front{width:310px;margin-right:10px;margin-bottom:10px;background-color:#ffffff;height:auto;min-height:100px;-webkit-border-radius:10px;-moz-border-radius:10px;-ms-border-radius:10px;-o-border-radius:10px;border-radius:10px;-webkit-box-shadow:0px 0px 5px 0px rgba(0, 0, 0, 0.3);box-shadow:0px 0px 5px 0px rgba(0, 0, 0, 0.3);float:left;}
.inner-box-front{padding:15px;}
.content-box-right{text-align:center;width:300px;margin-right:10px;margin-bottom:10px;background-color:#ffffff;-webkit-border-radius:10px;-moz-border-radius:10px;-ms-border-radius:10px;-o-border-radius:10px;border-radius:10px;-webkit-box-shadow:0px 0px 5px 0px rgba(0, 0, 0, 0.3);box-shadow:0px 0px 5px 0px rgba(0, 0, 0, 0.3);}
.content-box-footer{-webkit-border-radius:10px;-moz-border-radius:10px;-ms-border-radius:10px;-o-border-radius:10px;border-radius:10px;-webkit-box-shadow:0px 0px 5px 0px rgba(0, 0, 0, 0.3);box-shadow:0px 0px 5px 0px rgba(0, 0, 0, 0.3);}
.image-rounded{-webkit-border-top-right-radius:10px;-webkit-border-bottom-right-radius:0;-webkit-border-bottom-left-radius:0;-webkit-border-top-left-radius:10px;-moz-border-radius-topright:10px;-moz-border-radius-bottomright:0;-moz-border-radius-bottomleft:0;-moz-border-radius-topleft:10px;border-top-right-radius:10px;border-bottom-right-radius:0;border-bottom-left-radius:0;border-top-left-radius:10px;-moz-background-clip:padding-box;-webkit-background-clip:padding-box;background-clip:padding-box;}
.image-rounded-shadow{-webkit-border-radius:10px;-moz-border-radius:10px;-ms-border-radius:10px;-o-border-radius:10px;border-radius:10px;-webkit-box-shadow:0px 0px 5px 0px rgba(0, 0, 0, 0.3);box-shadow:0px 0px 5px 0px rgba(0, 0, 0, 0.3);}
.border-down{border-top:2px solid #000;}
.down{position:absolute;background:url(../img/icons.png) 0 0 no-repeat;width:8px;height:4px;margin-top:8px;margin-left:8px;}
.down-arrow{background:url(../img/icons.png) -35px -29px no-repeat;width:14px;height:14px;}
.mail{position:absolute;background:url(../img/icons.png) -8px -29px no-repeat;width:14px;height:14px;margin-top:2px;margin-left:8px;}
.menuline{position:absolute;background:url(../img/icons.png) 0 -20px no-repeat;width:1px;height:10px;margin-top:4px;margin-left:36px;top:50px;}
.year{font-size:28px;color:#004c6b;font-family:'Arvo',serif;font-weight:400;}
.ingress{font-size:14px;color:#777;}
.ingress a{color:#004c6b;}
.line-under{border-bottom:1px #000 solid;}
.line-over{border-top:1px #000 solid;}
.line-over-under{border-bottom:1px #000 solid;border-top:1px #000 solid;}
.line-right{border-right:1px #000 solid;}
.bold{font-weight:bold;}
.center{text-align:center;}
.right{text-align:right;}
.left{text-align:left;}
.col-grey{background-color:#eee;}
.tb{font-size:11px;}
tr:hover td{background-color:#eee;}
#historie tr:hover td{background-color:#fff;}
.info-img{float:left;margin-top:66px;height:50px;width:120px;text-align:left;margin-left:10px;font-family:'Arvo',serif;font-weight:400;font-size:12px;}
.stilling{color:#004c6b;font-style:italic;}
.sitat{font-family:'Arvo',serif;font-weight:400;font-size:16px;text-align:left;text-transform:uppercase;}
.small-heading{font-family:'Arvo',serif;font-weight:400;font-size:16px;text-transform:uppercase;}
.small-heading-note{font-family:'Arvo',serif;font-weight:400;font-size:16px;}
.blue{color:#004c6b;}
.orange{color:#cf621c;}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}
